html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}
#webGLView {
    width: 98%;
    height: 98%;
    position: relative;
    border-radius: 10px;
}
#arLink{
    position: absolute;
    left: 5%;
    top: calc(5%);
    z-index: 3;
}
#button_ar_safari{
    font: roboto;
    font-size: 15px;
    padding: 2px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: center;
    z-index: 3;
}
#button_ar{
    position: absolute;
    left: 5%;
    top: calc(5%);
    font: roboto;
    font-size: 15px;
    padding: 2px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: center;
    z-index: 3;
    outline: none;
}
#qrcode{
  position: absolute;
  left: calc(5% - 8px);
  top: calc(5% + 25px);
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 4;
  /*visibility: hidden;*/
}