body, html{
    margin: 0px;
  }
  
  h1 {
    font-family: sans-serif;
    color: #666;
  }
  
  #container {
    position: relative;
    overflow: hidden;
    border: 5px #333 solid;
  }
  
  #videoElement {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #textTest {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  
    padding: 25px;
    background-color: rgba(255, 148, 237, 0.55);
    border: 15px solid rgb(119, 0, 119);
    border-radius: 75px;
  
    font-size: 50px;
    font-weight: bold;
    font-family: "Monaco", "Times New Roman";
    text-justify: justify;
  }
  
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  #earLeft {
    position: absolute;
    z-index: 3;
  }

  #earRight {
    position: absolute;
    z-index: 3;
  }
  
  #earringL {
    position: absolute;
    z-index: 3;
  }

  #earringR {
    position: absolute;
    z-index: 3;
  }
  
  #border {
    position: absolute;
    width: fit-content;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 3;
  
    border: 15px solid white;
    border-radius: 50%;
  }
  
  #buttonScreenshot {
    margin: 1vh;
  
    background-color: white;
    border-radius: 50%;
    outline:none;
  }
  
  #imgCamera {
    height: 8vh;
    margin: 1vh;
  }
  
  #buttonScreenshot:hover {
    background-color: grey;
  }
  
  #buttonReturn {
    position: absolute;
    width: fit-content;
    top: 5vh;
    left: 10vw;
    transform: translate(-50%, -50%);
    z-index: 3;
  
    background-color: transparent;
    border: 0px;
  
    outline: none;
  }
  
  #imgReturn {
    height: 7vh;
  }