body, html{
  margin: 0px;
}

h1 {
  font-family: sans-serif;
  color: #666;
}

#container {
  position: relative;
  overflow: hidden;
  border: 5px #333 solid;
}

#videoElement {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#textTest {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  padding: 25px;
  background-color: rgba(255, 148, 237, 0.55);
  border: 15px solid rgb(119, 0, 119);
  border-radius: 75px;

  font-size: 50px;
  font-weight: bold;
  font-family: "Monaco", "Times New Roman";
  text-justify: justify;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#ring {
  position: absolute;
  z-index: 3;
}


#hand {
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

#configView {
  position: absolute;
  width: fit-content;
  right: 2vw;
  bottom: 2vw;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

#switchFingerButton {
  margin: 1vw;
  padding: 10px;
  max-width: 33vw;
  font-size: 4vw;
  font-weight: bold;
  font-family: "Monaco", "Times New Roman";
  text-justify: justify;

  background-color: rgba(255, 148, 237, 0.7);

  border: 3px solid Black;
  border-radius: 10px;
  outline:none;
}

#switchFingerButton:focus {
  background-color: rgba(255, 148, 237, 0.4);
}

#switchHandButton {
  margin: 1vw;
  padding: 15px;
  max-width: 33vw;
  font-size: 4vw;
  font-weight: bold;
  font-family: "Monaco", "Times New Roman";
  text-justify: justify;

  background-color: rgba(255, 148, 237, 0.7);

  border: 3px solid Black;
  border-radius: 10px;
  outline:none;
}

#switchHandButton:focus {
  background-color: rgba(255, 148, 237, 0.4);
}

#border {
  position: absolute;
  width: fit-content;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 3;

  border: 15px solid white;
  border-radius: 50%;
}

#buttonScreenshot {
  margin: 1vh;

  background-color: white;
  border-radius: 50%;
  outline:none;
}

#imgCamera {
  height: 8vh;
  margin: 1vh;
}

#buttonScreenshot:hover {
  background-color: grey;
}

#buttonReturn {
  position: absolute;
  width: fit-content;
  top: 5vh;
  left: 10vw;
  transform: translate(-50%, -50%);
  z-index: 3;

  background-color: transparent;
  border: 0px;

  outline: none;
}

#imgReturn {
  height: 7vh;
}